*~
*.swp
.meteor-spk
*.sublime-workspace
tmp/
node_modules/
.vscode/
.idea/
.build/*
package-lock.json
**/parts/
**/stage
**/prime
**/*.snap
snap/.snapcraft/
.idea
updateAWSWekan.sh
updateECSWekan-PROD.sh
updateECSWekan-TEST.sh
STAR_finneg_com.crt
finneg.com.key
