.js-upload-drop-zone
    min-height 100%
    border-width 2px
    margin-bottom 20px
    padding 10%
    margin 0 auto
    color #1f1f1f
    border-style dashed
    border-color #ccc
    text-align center

.hover
    color #d1cfcf
    border-style dashed
    border-color #d1cfcf
    text-align center
    background-color #242424b2

.dropContent
  pointer-events: none

.actions-buttons
  margin auto
  width fit-content
