*:not(i):not(.fa) {
    font-family: 'Montserrat' !important;
}

a.board-header-btn.js-change-visibility,
a.board-header-btn.js-star-board {
    display: none;
}

.swimlane {
    background-color: #f8f8f9;
}

#header:not(.board-color-belize) {
    display: none;
}

#content {
    background-color: #efeff1;
}

.board-list li {
    width: 296px;
}

.board-list li a {
    background-color: #f0edfa !important;
    color: #43485a !important;
    font-weight: normal !important;
    border-radius: 0px !important;
    outline: 1px solid white;
    position: relative;
    padding-bottom: 12px !important;
}

.board-list li a:hover {
    background-color: #f8ba20 !important;
}

.board-list .board-list-item-name {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.fa-star:before {
    color: #43485a;
}

#header {
    margin-top: 7px !important;
}

#header,
#header-main-bar {
    background-color: #f8f8f9 !important;
    height: 36px !important;
    padding: 0px !important;
    margin-top: 0px !important;
    display: flex;
    width: 100%;
}

#header,
#header-main-bar span,
#header,
#header-main-bar i:before {
    color: white;
    font-size: 12px;
    margin: 0 !important;
}

#header {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}

#header #header-main-bar .board-header-btn {
    height: 33px;
    width: 90px;
}

#header #header-main-bar .board-header-btns {
    margin: 0;
    display: flex;
}

.left {
    width: 95% !important;
}

#header-main-bar .js-open-board-menu>i:before {
    color: #8897A3;
}

#header #header-main-bar .board-header-btn:not(.is-active):hover {
    background: transparent !important;
}

#header #header-main-bar .board-header-btn:not(.is-active):hover i.fa {
    border-color: #02ceff !important;
}

#header #header-main-bar .board-header-btn:not(.js-open-board-menu) i.fa {
    /* border: 1.5px solid #cdcfd2; */
    background: #24cffd;
    border-radius: 50%;
    width: 22.5px;
    height: 22.5px;
    line-height: 22.5px;
    text-align: center;
    margin: 4px 8px 4px 10px;
}

a.board-header-btn.is-active {
    background: white !important;
    border: 1.5px solid #02ceff !important;
}

a.board-header-btn.is-active i.fa {
    border-color: transparent !important;
}

a.board-header-btn.js-open-board-menu {
    background: none !important;
    border-color: #eff0f1 !important;
    width: 100% !important;
}

.board-header-btn span {
    margin-top: 0px !important;
    color: #8897A3 !important;
}

.js-watch-board {
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.js-multiselection-activate {
    width: 0px;
    height: 0px;
    visibility: hidden;
}

#header-main-bar h1.header-board-menu {
    display: none;
}

.header-board-menu {
    padding-left: 25px !important;
}

.header-board-menu .viewer {
    font-size: 15px;
}

.board-canvas.js-swimlanes.js-perfect-scrollbar.is-sibling-sidebar-open.ui-sortable {
    background: white;
}

.board-wrapper .board-canvas .list {
    background-color: #f8f8f9 !important;
}

a.js-change-board-color,
a.js-outgoing-webhooks,
a.js-subtask-settings {
    display: none !important;
}


/* SIDEBAR */

.board-sidebar,
.board-sidebar .sidebar-content {
    background-color: white;
}

.sidebar .sidebar-shadow {
    box-shadow: none
}


/*.sidebar-tongue{
    display: none;
}*/

.sidebar-content hr {
    display: none;
}

.sidebar-content .board-widget,
.sidebar-content .js-sidebar-activities {
    border: 1px solid lightgray;
    padding: 10px;
    margin: 10px auto !important;
    box-shadow: 0px 0px 3px #b3b3b3;
    width: 178px;
}

.sidebar-content .add-member {
    display: none;
}

.member .avatar.avatar-initials {
    background-color: #B9BCC0;
}

.avatar-initials text {
    fill: white !important;
}

.sidebar-content .card-label {
    font-size: 10px;
}

.sidebar-content>h3 {
    display: none;
}

.sidebar-content .js-sidebar-activities {
    position: relative;
}

.sidebar-content .js-sidebar-activities .activity:first-child {
    padding-top: 20px;
}

.sidebar-content .js-sidebar-activities .activity:first-child:before {
    content: 'Actividades';
    display: block;
    position: absolute;
    top: 12px;
    left: 13px;
}

.sidebar-content .activity .js-member {
    display: none;
}

.sidebar-content .activity .activity-desc {
    font-size: 10px;
}


/* BODY */

.list-header {
    text-align: center;
    font-weight: normal !important;
}

.swimlane-header,
.list-header-name {
    font-weight: normal !important;
    /* text-transform: lowercase;
    display:block;*/
}


/*
.swimlane-header:first-letter, .list-header-name:first-letter{
    text-transform: uppercase;
}
*/

.swimlane .swimlane-header-wrap,
.board-canvas .list {
    border-left: none;
    border-right: none;
}

.swimlane.js-lists>div {
    border-color: lightgray !important;
}

.list-header-menu {
    visibility: hidden;
    padding: 12px !important;
}

.list-header-menu a {
    color: #8080808f !important;
}

.list-header:hover .list-header-menu {
    visibility: visible;
}

.js-swimlanes .swimlane:not(:first-child) .list-header h2 {
    display: none;
}

.js-swimlanes .swimlane:not(:first-child) .list-header div {
    visibility: visible;
}

.js-swimlanes .swimlane .minicards {
    margin-bottom: 10px;
}

.js-swimlanes .swimlane:not(:first-child) .minicards {
    padding-top: 10px;
}

.list .list-header {
    color: white;
    padding: 5px;
    /*width: 200px;*/
    /* margin-left:0px; */
}

.list:nth-child(n+2) .list-header {
    color: #FF6D92;
}

.list:nth-child(n+2) .minicard {
    border-left-color: #FF6D92;
}

.list:nth-child(n+3) .list-header {
    color: #FD9A00;
}

.list:nth-child(n+3) .minicard {
    border-left-color: #FD9A00;
}

.list:nth-child(n+4) .list-header {
    color: #02CEFF;
}

.list:nth-child(n+4) .minicard {
    border-left-color: #02CEFF;
}

.list:nth-child(n+5) .list-header {
    color: #3BF7D1;
}

.list:nth-child(n+5) .minicard {
    border-left-color: #3BF7D1;
}

.list:nth-child(n+6) .list-header {
    color: #A177FF;
}

.list:nth-child(n+6) .minicard {
    border-left-color: #A177FF;
}


/*
.swimlane .list,.list-body{
    width: 210px;
    max-width: 222px;
}
*/

.list-body {
    /* padding-left:0px; */
}


/* MINICARD */


/*.minicards{
    width: 210px;
}*/

.minicard,
.minicards .open-minicard-composer {
    border: 1px solid lightgray;
    /*box-shadow: none;*/
    /*width: 182px;*/
    border-left: 6px solid rgb(196, 198, 202);
    background-color: #ffffffd1;
}


/*
.inlined-form .minicard{
    width: 188px;
}
*/

.minicards .open-minicard-composer {
    height: 30px;
    color: rgb(178, 179, 183);
}

.minicards .open-minicard-composer i {
    color: rgb(178, 179, 183);
}

.minicard .minicard-badges-and-actions {
    width: 100%;
    margin-top: 7px;
}

.minicard .minicard-badges-and-actions .badges {
    margin-top: 0px;
}

.minicard .minicard-badges-and-actions .minicard-actions {
    visibility: hidden;
}

.minicard:hover .minicard-badges-and-actions .minicard-actions {
    float: right;
    visibility: visible;
}

.minicard .minicard-badges-and-actions .minicard-actions .minicard-action {
    margin-right: 11px;
    margin-bottom: 3px;
}

.minicard .minicard-badges-and-actions .minicard-actions .minicard-action.fa-check {
    margin-right: 0px;
}

.minicard>textarea {
    margin-bottom: 8px !important;
}

.add-controls {
    margin: 0px;
    height: 36px;
}

.add-controls button.primary.confirm {
    margin: 0px;
    position: absolute;
    right: 8px;
    bottom: 8px;
}


/*  CARD DETAILS */

.card-details-canvas>hr {
    display: none;
}

.card-details-canvas .material-toggle-switch {
    display: none;
}

.card-details {
    border: 1px solid #283247;
    position: fixed;
    top: 75px;
    max-height: 85%;
    overflow-y: hidden !important;
    z-index: 99 !important;
    margin: 0 auto;
    width: 80%;
    background: white;
    box-shadow: none;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 0px;
    padding-right: 0px;
}

.card-details-canvas {
    width: auto !important;
    background: white;
    margin: 0 auto;
    border-left: 220px solid #273347;
    position: relative;
}

.card-details .card-details-header {
    margin: 0px;
    background-color: white;
    padding-left: 0px;
    padding-top: 20px;
    border-bottom: none;
}

.card-details .card-details-header .card-permission {
    display: none;
}

.card-details .card-details-header a {
    margin-top: -20px;
}

.card-details h3,
.card-details-item-title,
.card-details .js-open-inlined-form,
.card-details .viewer,
.card-details-item a:not(.card-label):not(.card-details-item-add-button) {
    padding-left: 20px;
}

.card-details .new-comment {
    padding: 10px;
}

.card-details .new-comment .member {
    margin-left: 10px;
}

.card-details .activities {
    padding-left: 10px;
}

.card-details-item-start,
.card-details-item-end,
.card-details-item-members,
.card-details-items .card-details-item-name:first-child,
.card-checklist-items {
    display: none;
}

.card-details-canvas>h3:not(.card-details-item-title) {
    display: none;
}

.card-details-canvas>.card-checklist-items+.js-open-inlined-form {
    display: none;
}

.card-details-items {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.card-details-items .card-details-item {
    position: absolute;
    left: -220px;
    top: 50px;
    font-size: 12px;
}

.card-details-items .card-details-item-title {
    color: white;
}

.card-details-items .card-details-item-due {
    position: absolute;
    color: gray;
    top: 150px;
}

.card-details-item-labels .card-details-item-title {
    padding-left: 0px;
}

.card-details-items .card-details-item-labels {
    position: absolute;
    top: 250px;
    width: 200px;
    padding-left: 20px;
}

.card-details-items .card-details-item-labels .js-add-labels:not(.add-label) {
    padding-left: 0px;
}

.card-details-canvas>.card-details-item-title {
    padding-top: 10px;
}

.board-list-item:not(.js-open-board) .board-list-item-name {
    position: absolute;
    top: 30px;
}

.card-details-item-name .viewer p {
    width: 2ch;
    font-size: 16px;
    font-family: monospace !important;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
}

.card-details-item-name:hover .viewer p {
    font-family: 'Montserrat' !important;
    width: auto;
    font-size: 11px;
    cursor: pointer;
    text-transform: lowercase;
}

.card-details-item-name .viewer p i {
    /* width: auto; */
    /* font-family: 'Montserrat'; */
    white-space: pre;
}

.card-details-item-name .add-member {
    margin-left: 18px;
}

.card-details-item-name p {
    color: white;
}

.card-details .js-new-comment .member {
    display: none;
}

.card-details .js-new-comment {
    margin-left: 10px;
    width: 95%;
}

.card-details .activities .activity .member {
    display: none;
}

.card-details .activities .activity .activity-desc {
    margin-left: 10px;
    max-width: 95%;
}

.board-list-item:not(.js-open-board) p.board-list-item-desc {
    margin-bottom: 28px;
}

.js-add-board {
    display: none;
}

.board-list .js-add-board {
    display: none;
}

.attachments-galery {
    position: relative;
    padding-top: 30px;
    padding-left: 12px;
}

.attachments-galery .attachment-item {
    min-height: 100px;
}

.attachments-galery::before {
    content: 'Adjuntos';
    display: block;
    position: absolute;
    top: 12px;
    left: 20px;
    font-family: 'Montserrat';
    color: black;
    /* board-header-btn font-size: 16px; */
}

.attachment-details-actions a.js-download {
    float: right;
    padding-left: 10px;
}

.attachment-details-actions a.js-confirm-delete {
    float: right;
}

.attachment-details-actions a.js-remove-cover {
    display: none !important;
}

li.attachment-item.add-attachment {
    height: 23px;
    min-height: 20px;
    width: 135px;
}

a.js-add-attachment {
    margin: 0px;
}

a.js-add-attachment:before {
    content: "\f0c6";
    font-family: FontAwesome;
    padding: 6px;
}

.card-details .activity-title {
    padding-top: 20px;
    color: black;
}

.card-details .card-description {
    width: 95%;
    margin: 0 20px;
}


/*TEXTAREA*/

.card-details-canvas>.js-open-inlined-form .viewer {
    background: white;
    margin-left: 20px;
    min-height: 100px;
    margin-top: -15px;
    padding: 7px;
    /*box-shadow: 0 1px 2px rgba(0,0,0,.23);*/
    border: 1px solid lightgray;
    margin-right: 22px;
    border-radius: 5px;
}

.swimlane-name-input {
    min-height: 0 !important;
    height: 100%;
}

.swimlane-name-input:focus {
    border: 2px solid #7fe5fe !important;
    border-radius: 5px;
}

.swimlane-name-input::placeholder {
    color: #7fe5fe;
}

.list-name-input:focus {
    border: 2px solid #7fe5fe !important;
    border-radius: 5px;
}

.list-name-input::placeholder {
    color: #7fe5fe;
}

.js-open-add-swimlane {
    width: 140px !important;
}

.js-open-add-list {
    width: 140px !important;
}

#modal .modal-content {
    background-color: white;
    padding: 1px;
    border: 1px solid black;
    border-radius: 0;
    border-top: 2px solid black;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .swimlane .swimlane-header-wrap .swimlane-header-menu {
        display: none !important;
    }
    a.board-header-btn.js-open-board-menu {
        display: none;
    }
    .swimlane .swimlane-header-wrap {
        padding-bottom: 0px;
    }
    .swimlane .swimlane-header-wrap .swimlane-header {
        margin: 0px;
        width: 100%;
        background-color: #cdcfd2;
        writing-mode: initial;
        transform: initial;
        -webkit-transform: initial;
    }
    .board-wrapper .board-canvas .swimlane {
        padding: 0px;
        width: 90%;
    }
    .js-swimlanes .swimlane:not(:first-child) .list-header {
        display: block;
    }
    .card-details .card-description {
        width: 95%;
        margin: 0 auto;
    }
    .card-details {
        width: 100%;
        top: 0px;
    }
    .card-details-canvas {
        border: none;
    }
}

.sidebar-list>li>.name {
    height: 30px;
    display: flex;
    line-height: 40px;
    margin-bottom: 5px;
}

.card-label .square {
    margin: 0;
}

.js-toggle-assignedTo-filter>.fa-check,
.js-toggle-label-filter>.fa-check,
.js-toggle-member-filter>.fa-check {
    line-height: 30px;
}

.sidebar-list-item-description {
    text-align: center;
    line-height: 30px;
}

.js-open-filter-view-active {
    border: 1px solid #02ceff !important;
    height: 31px !important;
    background-color: white;
}

.js-filter-reset>.fa {
    height: 21px !important;
    width: 21px !important;
    background-color: transparent !important;
    border: 1px solid #02ceff !important;
}

.js-filter-reset>i:before {
    color: #02ceff !important;
    font-size: 15px !important;
    line-height: 20px;
}
