//-
  XXX There is a *lot* of code duplication in the below templates and in the
  corresponding JavaScript components. We will probably need the upcoming #let
  and #each x in y constructors to fix this.

template(name="finnegFilter")
  .containerFinnegFilters
    .title
      h3 Filtros
    .main
      .left
        ul
        li.menu-item.js-select-filter-tags(class="{{#if getMenuSelected 'tags'}}selected{{/if}}")
          a.name
            span Etiquetas {{tagsSelected.get}}
        //- li.menu-item.js-select-filter-privacy(class="{{#if getMenuSelected 'privacy'}}selected{{/if}}")
        //-   a.name
        //-     span Privaciadad {{memebersSelected.get}}
        li.menu-item.js-select-filter-assignedto(class="{{#if getMenuSelected 'assignedto'}}selected{{/if}}")
          a.name
            span Asignado {{assingToSelected.get}}
        li.menu-item.js-select-filter-view(class="{{#if getMenuSelected 'view'}}selected{{/if}}")
          a.name
            span Ver
      .right
        if getMenuSelected "tags"
          +finnegTags
        if getMenuSelected "privacy"
          +finnegPrivacy
        if getMenuSelected "assignedto"
          +finnegAssigned
        if getMenuSelected "view"
          +finnegViewMenuPopup
    .bottom
      button.primary.js-close-modal.js-filters Cerrar


template(name="finnegMultiselectionPopupFilter")
  ul.sidebar-list
    each currentBoard.labels
      li
        a.name.js-toggle-label-multiselection
          span.card-label.square(class="card-label-{{color}}")
          span.sidebar-list-item-description
            if name
              = name
            else
              span.quiet {{_ "label-default" (_ (concat "color-" color))}}
          if allSelectedElementHave 'label' _id
            i.fa.fa-check
          else if someSelectedElementHave 'label' _id
            i.fa.fa-ellipsis-h
  hr
  ul.sidebar-list
    each currentBoard.activeMembers
      with getUser userId
        li(class="{{#if Filter.members.isSelected _id}}active{{/if}}")
          a.name.js-toggle-member-multiselection
            +userAvatar(userId=this._id)
            span.sidebar-list-item-description
              = profile.fullname
              | (<span class="username">{{ username }}</span>)
            if allSelectedElementHave 'member' _id
              i.fa.fa-check
            else if someSelectedElementHave 'member' _id
              i.fa.fa-ellipsis-h
  hr
  a.sidebar-btn.js-move-selection
    i.fa.fa-share
    span {{_ 'move-selection'}}
  a.sidebar-btn.js-archive-selection
    i.fa.fa-archive
    span {{_ 'archive-selection'}}

template(name="finnegDisambiguateMultiLabelPopup")
  p {{_ 'what-to-do'}}
  button.wide.js-remove-label {{_ 'remove-label'}}
  button.wide.js-add-label {{_ 'add-label'}}

template(name="finnegDisambiguateMultiMemberPopup")
  p {{_ 'what-to-do'}}
  button.wide.js-unassign-member {{_ 'unassign-member'}}
  button.wide.js-assign-member {{_ 'assign-member'}}

template(name="finnegMoveSelectionPopup")
  +boardLists

template(name="finnegTags")
  .top
    .selectAllBox
      label.container
        input.select-check.js-select-all-tags(type='checkbox', name='slectAllTags' checked='{{Filter.labelIds.isAllSelected}}')
        span.checkmark
    .searchBox
      input.js-search-tags(placeholder="Buscar")
  ul.sidebar-list
    unless filterNoLabel.get
      li(class="{{#if Filter.labelIds.isSelected undefined}}active{{/if}}")
        .top
          .selectBox
            label.container
              input.select-check.js-toggle-label-filter(type='checkbox', name='slectTag' checked="{{Filter.labelIds.isSelected undefined}}")
              span.checkmark
          .tag
            a.name.js-toggle-label-filter
              span.sidebar-list-item-description
                | {{_ 'filter-no-label'}}
    each filterLabels.get
      li
        .top
          .selectBox
            label.container
              input.select-check.js-toggle-label-filter(type='checkbox', name='slectTag' checked="{{Filter.labelIds.isSelected _id}}")
              span.checkmark
          .description
            a.name.js-toggle-label-filter
              span.card-label.square(class="card-label-{{color}}")
              span.sidebar-list-item-description
                if name
                  = name
                else
                  span.quiet {{_ "label-default" (_ (concat "color-" color))}}


template(name="finnegPrivacy")
  .top
    .selectAllBox
      label.container
        input.select-check.js-select-all-members(type='checkbox', name='slectAllMembers' checked='{{Filter.members.isAllSelected}}')
        span.checkmark
    .searchBox
      input.js-search-members(placeholder="Buscar")
  ul.sidebar-list
    .top
      .selectAllBox
      .searchBox
        span Privado para
    each filterMembers.get
      with getUser userId
        li(class="{{#if Filter.members.isSelected _id}}active{{/if}}")
          .top
            .selectBox
              label.container
                input.select-check.js-toggle-member-filter(type='checkbox', name='slectMember' checked="{{Filter.members.isSelected _id}}")
                span.checkmark
            .description
              a.name.js-toggle-member-filter
                +userAvatar(userId=this._id)
                span.sidebar-list-item-description
                  = profile.fullname
                  | (<span class="username">{{ username }}</span>)

template(name="finnegAssigned")
  .top
    .selectAllBox
      label.container
        input.select-check.js-select-all-assignedTo(type='checkbox', name='slectAllAssigned' checked='{{Filter.assignedTo.isAllSelected}}')
        span.checkmark
    .searchBox
      input.js-search-assignedTo(placeholder="Buscar")
  ul.sidebar-list
    unless filterUnassigned.get
      li(class="{{#if Filter.assignedTo.isSelected undefined}}active{{/if}}")
        .top
          .selectBox
            label.container
              input.select-check.js-toggle-assignedTo-filter(type='checkbox', name='slectMember' checked="{{Filter.assignedTo.isSelected undefined}}")
              span.checkmark
          .description
            a.name.js-toggle-assignedTo-filter
              span.sidebar-list-item-description
                | {{_ 'filter-not-assigned'}}
    unless filterAssignedByMe.get
      li(class="{{#if Filter.userId.isSelected undefined}}active{{/if}}")
      with currentUser
        .top
          .selectBox
            label.container
              input.select-check.js-toggle-assigned-filter(type='checkbox', name='slectMember' checked="{{Filter.userId.isSelected _id}}")
              span.checkmark
          .description
            a.name.js-toggle-assigned-filter
              span.sidebar-list-item-description
              | {{_ 'filter-assigned-me'}}
    each filterAssignedTo.get
      with getUser userId
        li(class="{{#if Filter.members.isSelected _id}}active{{/if}}")
          .top
            .selectBox
              label.container
                input.select-check.js-toggle-assignedTo-filter(type='checkbox', name='slectMember' checked="{{Filter.assignedTo.isSelected _id}}")
                span.checkmark
            .description
              a.name.js-toggle-assignedTo-filter
                +userAvatar(userId=this._id)
                span.sidebar-list-item-description
                  = profile.fullname
                  | (<span class="username">{{ username }}</span>)

template(name="finnegViewMenuPopup")
  ul.pop-over-list
    li
      .top
        .selectBox
          input.select-view-radio.js-view-all(type='radio', name='slectMember' checked="{{isSelected 'all'}}")
        .description
          a.js-view-all Todo
    li
      .top
        .selectBox
          input.select-view-radio.js-view-pending(type='radio', name='slectMember' checked="{{isSelected 'pending'}}")
        .description
          a.js-view-pending Pendiente
    li
      .top
        .selectBox
          input.select-view-radio.js-view-finished(type='radio', name='slectMember' checked="{{isSelected 'finished'}}")
        .description
          a.js-view-finished Finalizado

