.container
  display: flow-root;
  .title
    display: flex
    h3
      margin: auto
      color: #4d4d4d
  .main
    display: flex
    height: 70vh
    .left
      display: block
      float left
      width: 35% !important
      background-color: #f8f8f9
    .right
      display: block
      padding: 12px
      float right
      background-color: white
      width: 70% !important
      overflow-y: auto;
      .top
        display: flex;
        width: 100%;
        height: 40px;
        line-height: 40px;
        .select-check
          -webkit-appearance: auto
          position: inherit
          left 0
          visibility: visible
          cursor pointer
        .select-view-radio
          margin-top: 13px;
        .avatar
          top: 5px;
    .menu-item
      display: block
      height: 20px;
      line-height: 20px;
      padding: 12px
    .menu-item:hover
      background-color: grey
      color: white
      cursor pointer
    .menu-item.selected
      background-color: #bfc2c6
  .bottom
    display: block;
    padding: 8px;
    padding-right: 0
    height: 35px;
    .js-close-modal
      float: right
      background: #3f51b5;
      color: white;
      margin 0

