@import 'nib'

.containerFinnegCardDetails
  display: flex;
  position: fixed;
  z-index: 9999;
  width: 60%;
  left: 20%;
  height: 80%;
  border: 1px solid #91959b;
  border-top: 2px solid #91959b;
  .left
    width: 30%
    background-color: #f8f8f9
    padding: 4% 0 0 3%;
    overflow-y: auto;
    .left-item
      min-height 20vh
      .item-section
        display: flex
        i
          background: #24cffd;
          border-radius: 50%;
          width: 22.5px;
          height: 22.5px;
          line-height: 22.5px;
          text-align: center;
          margin: 4px 8px 4px 10px;
          color: white
        h3
          line-height: 30px;
      .plus
        margin-left: 35px
        i
          color: #24cffd;
          font-size: 20px;
    .due-date
      background-color: transparent
      color #787d85
      margin-left: 35px
      ::before
        content: ''

  .right
    width: 70%
    background-color: white
    overflow-y: auto;


.card-details
  padding: 0 20px
  flex-shrink: 0
  flex-basis: 470px
  will-change: flex-basis
  overflow-y: auto
  overflow-x: hidden
  border-radius: bottom 3px
  z-index: 20 !important
  animation: flexGrowIn 0.1s
  transition: flex-basis 0.1s
  .activities
    padding-top: 0
  .activity-title
    margin: 0 0.5em -0.2em;
  .card-details-canvas
    width: 470px

  .card-details-header
    margin: 0 -20px 5px
    padding 7px 16px

    .close-card-details,
    .card-details-menu
      float: right

    .close-card-details
      font-size: 24px
      padding: 5px
      margin-right: -8px

    .card-details-menu
      font-size: 17px
      padding: 10px

    .card-details-watch
      font-size: 17px
      padding-left: 7px
      color: #a6a6a6

    .card-details-title
      font-weight: bold
      font-size: 1.33em
      margin: 7px 0 0
      padding: 0

    .linked-card-location
      font-style: italic
      font-size: 1em
      margin-bottom: 0
      & p
        margin-bottom: 0

    form.inlined-form
      margin-top: 5px
      margin-bottom: 10px

    .card-details-list
      font-size: 0.85em
      margin-bottom: 3px

      a.card-details-list-title
        font-weight: bold

        &.is-editable
          display: inline-block
          background: darken(white, 10%)
          border-radius: 3px
          padding: 0px 5px

  .card-description textarea
    min-height: 100px

  .card-details-items
    display: flex
    flex-wrap: wrap
    margin: 15px 0

    .card-details-item
      margin-right: 0.5em
      &:last-child
        margin-right: 0
      &.card-details-item-labels,
      &.card-details-item-members,
      &.card-details-item-received,
      &.card-details-item-start,
      &.card-details-item-due,
      &.card-details-item-end,
      &.card-details-item-customfield,
      &.card-details-item-name
        max-width: 50%
        flex-grow: 1

    .card-details-item.card-details-item-received
        display: none;

  .card-details-item-title
    font-size: 16px
    color: #c4c5ca

  .card-label
    padding-top: 5px
    padding-bottom: 5px

  .activities
    padding-top: 10px

input[type="text"].attachment-add-link-input
  float: left
  margin: 0 0 8px
  width: 80%

input[type="submit"].attachment-add-link-submit
  float: left
  margin: 0 0 8px 4px
  padding: 6px 12px
  width: 18%

@media screen and (max-width: 800px)
  .card-details
    width: calc(100% - 40px)
    padding: 0px 20px 0px 20px
    margin: 0px
    transition: none

    .card-details-canvas
      width: 100%

    .card-details-header
      .close-card-details
        margin-right: 0px

      .card-details-menu
        margin-right: 10px
